{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/calburned_style.css' %}">

<div class = "login" align="center" style="margin-top:5%" max-width:"100%" width="50%">
    <h1> Input Your Body Weight </h1>
    <br></br>
    <form method="post" action="/caloriesburned/">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit", name="save"> Submit Weight</button>
    </form>
    <br></br>
    <br></br>
    <br></br>
</div>
{% endblock %}