{% extends 'partials/base.html' %}
{% load mathfilters %}

{% block content %}

<style>
    .flex-zero {
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    .flex-one{
        display: flex;
        justify-content: center;
        margin: 10px;
        display: inline-block
    }
    #customers {
        font-family: Arial;
        border-collapse: collapse;
        width: 75%;
    }
      
    #customers td, #customers th {
        border: 2px solid #ddd;
        padding: 8px;
    }
      
    #customers tr:nth-child(even){background-color: #f2f2f2;}
      
    #customers tr:hover {background-color: #90EE90;}
      
    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
</style>


<div class="flex-zero">
    <h1>
        Welcome to your burned caloried tracker {{nama}} &#128516;
    </h1>
</div>
<div class="container">
    <div id="motive-container">

        <button type="change" id="change-button" name="change-button" onclick="" >change</button>

    </div>
<div>
<div class="flex-zero">
    <h4>
        The following is data on calories burned from onFoot activities you have done
    </h4>
</div>

<div class="flex-zero">
    <div id="calories-container" style="width: 80%;">
        <canvas id="calories-chart" data-url="{% url 'caloriesburned:calories_chart' %}"></canvas>
    </div>
</div>

<div class ="flex-zero" style="width: 100%">
    <table id="customers">
        <tr>
            <th>Date</th>
            <th>Calories Burned</th>
        </tr>
        {% for item in list_mileage %}
            <tr>
                <td>{{item.datetime}}</td>
                {% if item.onFoot %}
                    <td>{{item.mileage|mul:4057.55263}}</td>
                {% else %}
                    <td>{{item.mileage|mul:0}}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

<div class="flex-zero" style="width: 100%">
    <form 
            id="create-motive-form"
            onsubmit="return false;"
    >
        {% csrf_token %}
        <label for="motive" >Enter Motive: </label>
        <input type="text" id="motive" name="motive" size="50"/>
        <button type="submit" id="submit-button" name="submit-button" onclick="" >Submit</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script>
    $(function(){
        var $caloriesChart = $("#calories-chart");
        $.ajax({
            url: $caloriesChart.data("url"),
            success: function(data){

                var ctx = $caloriesChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.date,
                        datasets: [{
                            label: 'Calories',
                            backgroundColor: 'lightgreen',
                            data: data.calories,
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Calories Burned Chart'
                        }
                        
                    }
                });

            }
        });
    });

    const submitButton = document.getElementById('submit-button');

    function addMotivation() {
        $.post(
            {
                url: '../add_motive/',
                data : {
                    'motivation': $('#motive').val()
                },
            }
        )
    }
    $(`#submit-button`).attr('onclick', `addMotivation()`);

    const changeButton = document.getElementById('change-button');

    function getMotivation() {
        $.get(
            '../get_motive/',
            (res) => {
                console.log(res)
                $('#motive-container').empty();
                $('#motive-container').append(
                    `
                    <h3>${res[0].fields.sentences}</h3>
                    <h5>${res[0].fields.user}</h5>
                        `
                )
            }
        )
    }
    $(`#change-button`).attr('onclick', `getMotivation()`);


</script>

{% endblock %}