<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
    <title>Tracker</title>
    {% endblock meta %}  
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
  </head>

  <body>

    {% block content %}

    <div class = "tracker" align="center" style="margin-top:10%" max-width:"100%" width="50%">

        <h1>Carbon Footprint Tracker</h1>

        <form id="form" onsubmit="return false;">
            {% csrf_token %}
            <label>How far did you travel?</label><br>
            <input type="text" style="margin-top:1%;margin-bottom:2%" name="mileage"></input><br>

            <label>What transportation did you use?</label><br>

            <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="margin-top:1%;margin-bottom:2%">
                <input type="radio" class="btn-check" name="btnradio" id="mobil" autocomplete="off" value="mobil" checked>
                <label class="btn btn-outline-primary" for="mobil">Car</label>
                
                <input type="radio" class="btn-check" name="btnradio" id="motor" autocomplete="off" value="motor">
                <label class="btn btn-outline-primary" for="motor">Motorcycle</label>
                
                <input type="radio" class="btn-check" name="btnradio" id="jalan" autocomplete="off" value="jalan">
                <label class="btn btn-outline-primary" for="jalan">On foot</label>
            </div>
            <br>
            <input class="btn btn-primary" id="button" type="submit" value="Add">
        </form>
    
        <table id="table" style="margin-top:2%;margin-bottom:5%"></table>
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}   
    
    </div>

    <script>
      async function getHistory() {
          return fetch("{% url 'tracker:show_history' %}").then((res) => res.json())
      }
      
      async function refreshHistory() {
        document.getElementById("table").innerHTML = ""
        const history = await getHistory()
        let htmlString = `<tr>
        <th>Date Added</th>
        <th>Mileage</th>
        <th>Carbon Footprint</th>
        </tr>`
        history.forEach((item) => {
        htmlString += `\n<tr>
        <th>${item.fields.date}</th>
        <th>${item.fields.mileage}</th>
        <th>${item.fields.carbon}</th>
        </tr>` 
        })
        
        document.getElementById("table").innerHTML = htmlString
      }
      
      function addFootprint() {
        fetch("{% url 'tracker:add_footprint' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshHistory)
        return false
      }
      
      document.getElementById("button").onclick = addFootprint
      refreshHistory()

    </script>

    {% endblock content %}

  </body>
</html>