{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Carbon Footprint Tracker</title>
{% endblock meta %}  

{% block content %}

<link rel="stylesheet" href="{% static 'css/tracker_style.css' %}">

<div class = "tracker" align="center">

  <h1>Carbon Footprint Tracker</h1>

  {% if user.is_authenticated %}
    <form id="form" onsubmit="return false;" method="POST" id="addFootprint">
      {% csrf_token %}
      <label>How far did you travel? (in kilometer)</label><br>
      <input type="text" id="mileage" name="mileage"></input><br>

      <label>What transportation did you use?</label><br>

      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="mobil" autocomplete="off" value="mobil" checked>
        <label class="btn btn-outline" for="mobil">Car</label>
        
        <input type="radio" class="btn-check" name="btnradio" id="motor" autocomplete="off" value="motor">
        <label class="btn btn-outline" for="motor">Motorcycle</label>
        
        <input type="radio" class="btn-check" name="btnradio" id="jalan" autocomplete="off" value="jalan">
        <label class="btn btn-outline" for="jalan">On foot</label>
      </div>
      <br>
      <input class="btn" id="button" type="submit" value="Add" onclick="addData()">
    </form>

    <h4>Your Footprint History:</h4><br>

    <div class="card-deck" id="deck" max-width:"100%" width="50%">
  
  {%else%}
  <h3>Login and track your carbon footprint!</h3>
  
  {% endif %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/tracker.js' %}" type="text/javascript"></script>

{% endblock content %}