.tracker h1 {
    font-family: 'Lobster', cursive;
    margin-top: 5%;
    max-width:100%;
    width:50%;
}

.tracker form {
    margin-top:3%;
    max-width:"100%";
    width:"50%";
}

.tracker h3 {
    margin-top: 6%;
    margin-bottom: 9.5%;
    max-width:100%;
    width:50%;
}

.tracker h4 {
    margin-top: 3%;
    margin-bottom: 3%;
    max-width:100%;
    width:50%;
}

.tracker #mileage, .btn-group {
    margin-top:1%;
    margin-bottom:2%
}

/* .btn {
    margin-top:1%;
    margin-bottom:2%
} */

#button {
    margin-top:1%;
    margin-bottom:2%
}