.register, .login, .profile {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width:100%;
    font-family:Arial, Helvetica, sans-serif
}

.register h1, .login h1, .profile h1{
    font-family: 'Lobster', cursive;
}

.register tr{
    vertical-align: text-top;
}

.register td{
    padding-bottom: 1em;
    padding-left: 1em;
}





